[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "base16/shell"]
	path = base16/shell
    url = https://github.com/thenav56/base16-shell.git
[submodule "base16/kitty"]
	path = base16/kitty
	url = https://github.com/kdrag0n/base16-kitty.git
[submodule "base16/alacritty"]
	path = base16/alacritty
	url = https://github.com/aarowill/base16-alacritty.git
[submodule "tools/tmux-tpm"]
	path = tools/tmux-tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tools/fzf-git"]
	path = tools/fzf-git
	url = https://github.com/junegunn/fzf-git.sh
[submodule "tools/kitty-kitten-search"]
	path = tools/kitty-kitten-search
	url = https://github.com/thenav56/kitty-kitten-search
