[defaults]
roles_path = ./roles
inventory = ./inventory
collections_path = ./.ansible/collections
host_key_checking = False
nocows = True
stdout_callback = yaml
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.ansible/facts
fact_caching_timeout = 7200

[diff]
always = True
